{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo%}
        {% endblock %}
    </title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <!-- barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--logo e inagen steamverde-->
        <a class="navbar-brand" href="index.html">
            <img src="{% static 'img/utorrent_logo.png' %}" width="30" height="30" alt="" > steamverde.tv
        </a>

        <!--botones antes de barra-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="index.html">Inicio</a>
            </li>
            <li>
                <a class="nav-link" href="cartelera.html">En cartelera</a>
            </li>
            <li>
                <a class="nav-link" href="ranking.html">Ranking</a>
            </li>
            <li>
                <a class="nav-link" href="categories.html">Categorias</a>
            </li>
        </ul>

        <div class="d-flex justify-content-end">
            <!--barra y boton de busqueda-->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar peliculas" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>

            <!--boton iniciar sesion-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="login.html">Iniciar sesion/Registrarse</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--titulo pagina actual-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
             <h1 class="display-4">
                {% block titulo_2%}
                {% endblock %}
            </h1>
        </div>
    </div>

    <br>

    <!--contenido-->
    {% block contenido%}
    {% endblock %}

</body>

